project_id                 = ""
mgmt_allow_ips             = ["0.0.0.0/0"]
region                     = "us-west1"
create_gke                 = false 
prefix                     = ""
producer_project_id        = ""
deployment_group_id        = "deployment-group" ## Get this from previous producer terraform output
